[Unit]
Description=TeleScoPi bot
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/telescopi
EnvironmentFile=/home/pi/telescopi/.env
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/pi/telescopi/venv/bin/python3 /home/pi/telescopi/scr/telescopi/telescopi.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
